/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: 'Optimus Princeps';
    background-color: #000000;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header con imagen de fondo */
header {
    background: url('../img/darksouls3.jpg') center/cover no-repeat;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    position: relative;
}

header h1 {
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 10px;
    z-index: 1;
}

/* Formulario */
#formulario-post {
    background: #fff;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#formulario-post input[type="text"],
#formulario-post textarea,
#formulario-post input[type="file"],
#formulario-post button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario-post button {
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Contenedor Posts */
#posts {
    max-width: 800px;
    margin: 2rem auto;
}

/* Posts */
.post {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.post h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #111;
    text-align: left;
}

.post p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
    text-align: left;
}

.post small {
    color: #999;
    font-style: "Optimus Princeps";
    text-align: left;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 4rem 0;
    margin-top: auto;
}

footer .social-links {
    margin: 0.5rem 0;
}

footer .social-links a {
    color: #ccc;
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #fff;
}

